In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('file_name.db')

pd.read_sql('SELECT * FROM population_data', conn)

In [ ]:
pd.read_sql('SELECT "Country_Name", "Country_Code", "1960" FROM population_data', conn)

SQLAlchemy and Pandas

In [1]:
import pandas as pd
from sqlalchemy import create_engie
import os
engine = create_engine('sqlite:////home/workspace/3_sql_exce.db')
pd.read_sql("SELECT * FROM population_data", engine)

TypeError: read_sql() missing 1 required positional argument: 'con'

In [ ]:
import pandas as pd
import os
form sqlalchemy import create_engine
engine = create_engine('sqlite:////home/workspace/3_sql_read.db')
pd.read_sql('SELECT "1961" - "1960" FROM population_data WHERE Country_Name="Aruba"', engine)

In [ ]:
pd.read_sql('SELECT "Country_Name","1975" FROM population_data WHERE Country_Name = "Belgium" OR Country_Name=""')