In [1]:
import pandas as pd
impo

In [2]:
s = pd.Series(list('abca'))

In [3]:
pd.get_dummies(s)

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [5]:
import numpy as np
s1 = ['a', 'b', np.nan]

In [6]:
pd.get_dummies(s1)

   a  b
0  1  0
1  0  1
2  0  0

In [7]:
pd.get_dummies(s1, dummy_na=True)

   a  b  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [8]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],

                   'C': [1, 2, 3]})

In [9]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   C  col1_a  col1_b  col2_a  col2_b  col2_c
0  1       1       0       0       1       0
1  2       0       1       1       0       0
2  3       1       0       0       0       1

In [10]:
pd.get_dummies(pd.Series(list('abcaa')))

   a  b  c
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  1  0  0

In [ ]:
pd.get_dummies(pd.Series(list))